# Prolog
*.qlf
*.pld
*.pls

# LISP
*.fasl
*.fas
*.lib
*.fsl
*.dx32fsl
*.lx64fsl

# Python
__pycache__/
*.py[cod]
.venv/

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz

# OS
.DS_Store
Thumbs.db
